* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #cf9aff, #95c0ff);
  color: #fff;
}

.container {
  width: 100%;
  min-height: 100vh;
  max-width: 650px;
  /* margin: 50px 80px; */
  padding-top: 4%;
  padding-left: 10%;
}

.notes-app-title {
  display: flex;
  width: 100px;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 35px;
  font-weight: 600;
}

.notes-app-title img {
  width: 60px;
  /* margin-right: 10px; */
}

button {
  display: flex;
  align-items: center;
  color: #fff;
  background: linear-gradient(#9418fd, #571094);
  outline: 0;
  border: 0;
  padding: 15px 25px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  margin: 30px 0 20px;
}

button img {
  width: 25px;
  margin-right: 8px;
}

.notes-container {
  list-style: none;
}

.note {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #fff;
  /* height: 110px; */
  padding: 20px;
  border-radius: 6px;
  margin: 20px 0;
}

.note p {
  max-width: 500px;
  min-height: 150px;
  border: none;
  outline: none;
  color: #333;
  width: 95%;
  font-size: 16px;
}

.note img {
  width: 25px;
  align-self: flex-end;
  cursor: pointer;
}
